.bubbleWrapper,
/* .verticalLineWrapper, */
.textSectionContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalLine {
  background: #f5faff;
  width: 2px !important;
  height: 80%;
  /* flex: 1; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.textSection {
  font-size: 16px;
}

.textSectionContainer {
  margin-left: 35px;
  margin-right: 80px;
  max-width: 600px; /* Adjusted for wider text */
  padding: 20px; /* Adjusted for smaller padding */
  display: flex;
  align-items: center;
  justify-content: center;
}

.links_container {
  margin-left: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust as needed */
}




