.bubbleWrapper,
/* .verticalLineWrapper, */
.textSectionContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalLine {
  background: #f5faff;
  width: 2px !important;
  height: 80%;
  /* flex: 1; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.textSectionContainer {
  margin-left: 100px;
  margin-right: 50px;
  max-width: 600px; /* Adjusted for wider text */
  padding: 20px; /* Adjusted for smaller padding */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust as needed */
}


