.profilePic {
    width: 350px; /* Adjust size as needed */
    height: 350px;
    border-radius: 10%; /* Slight border rounding */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); /* Shadow effect */
    transition: transform 0.3s ease-in-out; /* Transition for hover effect */
    margin-left: 130px;
}
  
  .profilePic:hover {
    transform: scale(1.05); /* Minimal hover effect */
  }

  /* Small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  .profilePic {
    /* Scale down image size for small devices */
    width: 200px; 
    height: 200px;
    /* If you want to center the image on small devices */
    margin-left: auto;
    margin-right: auto;
  }
}

  .verticalLine {
    border-left: 2px solid #A9CAD2; /* Darker variant of navbar color */
    height: 80%; /* Adjust height as needed */
    margin: 0 10px; /* Space around the line */
  }

  .textSection {
    margin-right: 150px;  /* Adds space to the left of the text section */
  }

  .textSection h1 {
    font-family: 'Inter', sans-serif;
  }

  .textSection h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }

  .typewriter {
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap;
    margin: 0 auto;
    animation: 
      typing 1s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0); }
  }


  .btnContainer {
    margin-top: 20px;
    margin-left: 65px;
  }